nav {
  text-align: center;
  padding: 0.25rem;
}

#logo-text {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: auto;
  line-height: 1.5;
  font-size: 1.125rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.025rem;
  padding: 1rem;
}

#name-form {
  max-width: 28rem;
  padding: 0.25rem;
  margin: 2rem auto;
}

#name-form fieldset {
  display: flex;
  align-items: center;
}

.name-label {
  margin: 0 0.5rem;
  padding: 0;
  font-weight: 600;
  color: #fff;
  flex: 1 0 3rem;
  text-align: center;
}

.save {
  margin: 0 0.5rem;
  text-align: center;
  width: 5.125rem;
  flex: 1 0 5.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#saved {
  font-weight: 600;
  color: #0ff;
}

#save-name-btn {
  height: 2.5rem;
  margin: 0;
}

main {
  padding: 1rem;
}

#loading {
  width: 2rem;
  height: 2rem;
  margin: auto;
}

h2 {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.5rem;
}

footer {
  padding: 0 0 3.5rem;
}

.hr-line {
  height: 1px;
  max-width: 50rem;
  margin: 2rem auto 3rem;
  background-color: hsl(205deg 10% 70% / 40%);
  border-radius: 1rem;
}

#new-btn {
  padding: 0.25rem 2rem;
  border-radius: 0.5rem;
}

.small {
  font-size: 0.875rem;
  color: #eee;
}

details {
  margin: 1rem 0;
}

summary {
  font-weight: 500;
  letter-spacing: 0.025rem;
  cursor: pointer;
}

sup {
  font-size: 0.625rem;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

input[type="checkbox"] {
  flex: 0 0 1.125rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.checkbox-label {
  flex: 0 0 6rem;
  margin: 0;
  line-height: normal;
  cursor: pointer;
  padding: 0 0 0 0.25rem;
}

#first-item {
  margin: 1rem 0;
}

#new-list-form {
  padding: 1.125rem 1rem;
  position: relative;
}

@media (width > 35rem) {
  #new-list-form {
    padding: 1.125rem 1.25rem;
  }
}

@media (width > 52rem) {
  #new-list-form {
    max-width: 50rem;
    border: 0.5px solid hsl(0deg 0% 100% / 10%);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.25rem 0.125rem hsl(0deg 0% 0% / 10%);
    background-color: #1a1a1a;
    margin: auto;
  }
}

#form-overlay,
.form-overlay,
.delete-modal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #111a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.list-item input[name="item"] {
  flex: 1 1 auto;
}

.actions,
.list-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 auto;
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
}

.list-item:hover .actions,
.list-item:focus .actions {
  width: 4.25rem;
}

.action-btn {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  background-color: #1111;
  cursor: pointer;
  transition:
    background-color 0.2s,
    opacity 0.2s;
}

.move,
.list-move {
  cursor: move;
}

.action-btn:hover,
.action-btn:focus {
  background-color: #7779;
  opacity: 1;
}

.list {
  padding: 0.5rem 0;
}

section,
.list form {
  max-width: 50rem;
  margin: 0 auto;
  border: 0.5px solid hsl(0deg 0% 75% / 4%);
  border-radius: 0.25rem;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 0 0.25rem 0.125rem hsl(0deg 0% 0% / 1%);
  background-color: hsl(0deg 0% 90% / 2%);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.list form {
  position: relative;
  padding: 1.125rem;
}

section:hover,
.list form {
  box-shadow: 0 0 0.375rem 0.25rem hsl(0deg 0% 0% / 3%);
  background-color: hsl(0deg 0% 90% / 4%);
}

.list-header,
.list-form-header {
  display: flex;
  align-items: center;
}

.list-form-header {
  margin-bottom: 0.5rem;
}

h3 {
  flex: 1 1 100%;
  background-color: hsl(0deg 0% 0% / 3%);
  padding: 1rem 1.25rem 1rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.025rem;
}

section:hover .list-actions,
section:focus .list-actions {
  width: 5.5rem;
}

@media (width < 40rem) {
  .list-actions {
    width: 5.5rem;
  }
}

h4 {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  flex: 1 1 auto;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form-btns {
  display: flex;
  align-items: center;
}

.delete {
  color: hsl(4deg 100% 95%);
  border-color: hsl(4deg 50% 75% / 75%);
  background-color: hsl(4deg 50% 30% / 20%);
}

.delete:hover {
  border-color: hsl(4deg 50% 75% / 90%);
  background-color: hsl(4deg 50% 40% / 20%);
}

.delete:focus {
  border-color: hsl(4deg 50% 75% / 95%);
  background-color: hsl(4deg 50% 30% / 15%);
}

.cancel {
  border-color: hsl(205deg 25% 75% / 75%);
  background-color: hsl(205deg 50% 30% / 20%);
}

.cancel:hover {
  border-color: hsl(205deg 25% 75% / 90%);
  background-color: hsl(205deg 50% 40% / 20%);
}

.cancel:focus {
  border-color: hsl(205deg 25% 75% / 95%);
  background-color: hsl(205deg 50% 30% / 15%);
}

.save-btn {
  min-width: 6rem;
}

.confirm {
  max-width: 20rem;
  margin: 0 auto;
  border: 1px solid #ccc5;
  border-radius: 0.375rem;
  overflow: hidden;
  box-shadow: 0 0 0.25rem 0.125rem hsl(0deg 0% 0% / 4%);
  padding: 1rem;
  background-color: #141414;
}

.extra {
  padding-right: 0.125rem;
}

@media (width < 30rem) {
  .extra {
    display: none;
  }
}

.warning {
  font-weight: 500;
  font-size: 1.25rem;
  color: hsl(4deg 100% 98%);
  padding: 0 0.5rem;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0.5rem;
  list-style-image: none;
}

li {
  margin-bottom: 0;
  padding: 0;
  border-top: 0.5px solid #7771;
}

ol li,
ul li {
  padding: 0.25rem 1rem;
}

ul {
  list-style-type: none;
}

ol {
  list-style-position: inside;
}
